*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# Garder les dossiers vides avec un fichier .empty

/storage/app/public/rapports/*
!/storage/app/public/rapports/.empty

/storage/app/public/photos/*
!/storage/app/public/photos/.empty

/storage/app/public/courriers/*
!/storage/app/public/courriers/.empty

/storage/logs/*
!/storage/logs/.empty

/bootstrap/cache/*
!/bootstrap/cache/.empty
